# Project 7

## Sys Ops

In [ ]:
cd ..

In [ ]:
pwd

## Imports

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import missingno as msno

from sklearn.feature_selection import *
from sklearn.feature_extraction import *
from sklearn.decomposition import *
from sklearn.model_selection import *
from sklearn.impute import *
from sklearn.preprocessing import *
from sklearn.pipeline import *
from sklearn.covariance import *
from sklearn.metrics import *
from sklearn.compose import *

from sklearn.dummy import *
from sklearn.linear_model import *
from sklearn.neighbors import *
from sklearn.svm import *
from sklearn.ensemble import *
from sklearn.cluster import *

In [ ]:
# DO NOT REMOVE THIS LINE

## Data

In [ ]:
fn = "application_train.csv"
df = pd.read_csv("./data/source/" + fn)

In [ ]:
df.shape

In [ ]:
# df = df.sample(frac=0.10)
# df

In [ ]:
# filter for correl
# df = df.filter(['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
#                'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_BIRTH', 'DAYS_EMPLOYED'
#                ])

df = df.filter(
    [
        "TARGET",
        "NAME_CONTRACT_TYPE",
        "CODE_GENDER",
        "FLAG_OWN_CAR",
        "FLAG_OWN_REALTY",
        "CNT_CHILDREN",
        "AMT_INCOME_TOTAL",
        "AMT_CREDIT",
        "AMT_ANNUITY",
        "AMT_GOODS_PRICE",
        "NAME_TYPE_SUITE",
        "NAME_INCOME_TYPE",
        "NAME_EDUCATION_TYPE",
        "NAME_FAMILY_STATUS",
        "NAME_HOUSING_TYPE",
        "DAYS_BIRTH",
        "DAYS_EMPLOYED",
        "ORGANIZATION_TYPE",
        "OCCUPATION_TYPE",
        "EXT_SOURCE_1",
        "EXT_SOURCE_2",
        "EXT_SOURCE_3",
    ]
)


df

## EDA Exploratory Data Analysis

In [ ]:
df.sort_values("AMT_INCOME_TOTAL", ascending=False)

In [ ]:
df.sort_values("AMT_CREDIT", ascending=False)

In [ ]:
df.sort_values("AMT_ANNUITY", ascending=False)

In [ ]:
df.sort_values("AMT_GOODS_PRICE", ascending=False)

In [ ]:
# on exclut ces lignes car elles font planter le fit

df = df.drop(df[(df['NAME_INCOME_TYPE'] == 'Businessman')].index)
df = df.drop(df[(df['NAME_INCOME_TYPE'] == 'Maternity leave')].index)
df = df.drop(df[(df['NAME_INCOME_TYPE'] == 'Student')].index)
df = df.drop(df[(df['NAME_INCOME_TYPE'] == 'Unemployed')].index)

df = df.drop(df[(df['NAME_FAMILY_STATUS'] == 'Unknown')].index)

df

In [ ]:
df.sort_values("DAYS_BIRTH", ascending=False)

In [ ]:
df.sort_values("DAYS_EMPLOYED", ascending=False)

In [ ]:
df.loc[df["DAYS_EMPLOYED"] == 365243, "DAYS_EMPLOYED"] = float("NaN")

In [ ]:
df.sort_values("DAYS_EMPLOYED", ascending=False)

In [ ]:
df.sort_values("DAYS_EMPLOYED", ascending=True)

In [ ]:
df.loc[df["ORGANIZATION_TYPE"] == "XNA", "ORGANIZATION_TYPE"] = float("NaN")

In [ ]:
df.TARGET.value_counts(normalize=True)

In [ ]:
df.TARGET.value_counts()

In [ ]:
# Transformations

df.loc[df["CODE_GENDER"] == "M", "CODE_GENDER"] = 1
df.loc[df["CODE_GENDER"] == "F", "CODE_GENDER"] = 2
df.loc[df["CODE_GENDER"] == "XNA", "CODE_GENDER"] = 2

# on transforme la colonne CODE_GENDER en int
df.CODE_GENDER = df.CODE_GENDER.astype("int")

df.loc[df["FLAG_OWN_CAR"] == "Y", "FLAG_OWN_CAR"] = 1
df.loc[df["FLAG_OWN_CAR"] == "N", "FLAG_OWN_CAR"] = 0

# on transforme la colonne FLAG_OWN_CAR en int
df.FLAG_OWN_CAR = df.FLAG_OWN_CAR.astype("int")

df.loc[df["FLAG_OWN_REALTY"] == "Y", "FLAG_OWN_REALTY"] = 1
df.loc[df["FLAG_OWN_REALTY"] == "N", "FLAG_OWN_REALTY"] = 0

# on transforme la colonne FLAG_OWN_REALTY en int
df.FLAG_OWN_REALTY = df.FLAG_OWN_REALTY.astype("int")

df.DAYS_BIRTH = -df.DAYS_BIRTH / 365
df.DAYS_EMPLOYED = -df.DAYS_EMPLOYED / 365

df.dtypes

In [ ]:
df.isna().mean()

In [ ]:
df.select_dtypes(include="object").nunique()

In [ ]:
df["nan_EXT_SOURCE_1"] = df.EXT_SOURCE_1.isna().astype("int")

# on exclut ORGANIZATION_TYPE, OCCUPATION_TYPE, EXT_SOURCE_1 car trop de NaN
df.drop(
    columns=["ORGANIZATION_TYPE", "OCCUPATION_TYPE", "EXT_SOURCE_1"],
    inplace=True,
    errors="ignore",
)

df.head()

In [ ]:
# df.corr()

In [ ]:
df

In [ ]:
corr = df.select_dtypes(include=np.number).corr()
mask = np.triu(corr)
sns.heatmap(corr, annot=True, vmin=-1, vmax=1, cmap="coolwarm", fmt=".2f", mask=mask)

In [ ]:
# on construit la matrice X des Features
X = df.drop(columns="TARGET")
X

In [ ]:
# On construit l vecteur y des Targets
y = df["TARGET"]
y

In [ ]:
y.values

In [ ]:
df.to_csv("./data/preprocessed/df.csv", index=False)

In [ ]:
y.value_counts(normalize=True).round(2)